@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans:300,400,400i,600,700|Lato:400,700&display=swap');

body {
    margin: 0;
    padding-top: 70px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Lato", sans-serif;
    padding-bottom: 12px;
    text-align: center;
    font-weight: bold;
}

/* ------------- Special styles/colours --------------- */

.frame--main {
    background-color: rgba(255,228,196,0.7);
    border-radius: 8px;
}

.frame--info {
    background-color: 	rgba(154, 136, 114,0.6);
    border-radius: 8px;
}

.inline--anchor {
    color: #2c6666;
}

.read--more {
    display: block; 
    text-align: right;
    font-weight: 400;
    padding-right: 8px;
}

.custom--modal-bg {
    background-color: #f0d9bc;
}

.custom--modal-body {
    border: 1px solid #a8afaf;
}

/* ----------------- Navbar ------------------ */

.navbar {
	background-color: #ffe4c4;
}

.navbar-brand {
    font-family: "Acme", sans-serif;
    font-size: 28px;
    margin-left: 6px;
    padding: 6px;
    border-radius: 60%;
}

.navbar-brand:hover {
    background-color: #e7d2b7;
}

.nav-link {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
}

.dropdown-menu {
    left: -12px;
}

.dropdown-menu hr {
    border-bottom: 1px dotted #4a4a4f;
    width: 70%;
}

.navbar-toggler {
    border: none;
}

/* ----------------- Hero & Callout ------------------ */

/*--- "Perfect background image" code snippet copied from CSS-Tricks.com and used for all background images ---*/
.hero-container { 
  background: url("../img/homepage2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 16px;
}

.jumbotron-container {
    height: 100vh;
}

.jumbotron {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
}

.jumbotron h1 {
    font-family: "Acme", sans-serif;
    padding: 0;
}

.jumbotron p {
    padding-bottom: 6px;
    font-size: 24px;
    font-weight: 400;
}

.gallery img {
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 24px;
}

#prt {
    padding-top: 100px;
    padding-bottom: 16px;
}

.prt-intro {
    margin: 0 auto;
    padding: 24px;
    background-color: rgba(255,228,196,0.8);
}

.prt-intro p {
    margin-top: 24px;
    font-size: 20px;
}

#ethos {
    text-align: center;
}

.prt-intro span {
   margin-top: 36px;
   margin-bottom: 20px;
   display: block;
   text-align: center;
}

/* ----------------- Training ------------------ */

.training-container { 
    background: url("../img/homepage.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 18px;
    padding-bottom: 18px;
}

.offer-frame {
    padding: 16px 24px;
}

.trg p {
    text-align: justify;
    margin-bottom: 8px;
}

.trg i {
    display: block;
    font-size:32px;
    padding-top: 24px;
    padding-bottom: 9px;
}

.trg-more-info p {
    margin-top: 30px;
    padding: 16px;
    text-align: center;    
}

#where,
#when {
    visibility: hidden;
}

.location {
    padding: 12px;
    margin-top: 16px;
}

.location-info {
    margin: auto auto;
}

.timetable {
    margin-top: 16px;
    padding: 18px;
}

.timetable-day {
    text-align: center;
    margin: 6px;
    padding-top: 12px;
    box-shadow: 4px 4px 3px #4a4a4f;
}

.timetable-day p {
    padding-top: 6px;
    margin-bottom: 6px;
}

.timetable-day hr {
    border-bottom: 1px solid #4a4a4f;
    width:50%;
}

.timetable-important p {
    margin-top: 24px;
    padding: 16px;
    text-align: center;
}

/* ----------------- Contact ------------------ */

.contact-container {
    background: url("../img/contact.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 5vh;
    min-height: 85vh;
}

.contact-options {
    padding-top: 18px;
    padding-bottom: 32px;
}

.btn--outer-frame {
    background-color: rgba(154,136,114,0.2);
    height: 210px;
    width: 210px;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 12px;
}

.btn--outer-frame a {
    text-decoration: none;
}

.btn--button {
    background-color: rgba(255,228,196,0.6);
    height: 200px;
    width: 200px;
    border-radius: 8px;
    padding: 18px;
}

.btn--button:hover {
    background-color: rgba(255,228,196,0.8);
    text-decoration: none;
}

.btn--text,
.btn--icon {
    display: block;
    text-align: center;
    color: #4a4a4f;
}

.btn--icon {
    font-size: 72px;
    padding-top: 20px;
}

.btn--text {
    font-size: 26px;
}

.phone-number {
    margin-top: 20px; 
}

/* ----------------- About ------------------ */

.about-container { 
    background: url("../img/about.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 18px;
}

.about-us {
    padding: 16px 16px 8px;
}

.about-jane,
.about-john,
.learn-more {
    margin: 0px 8px 24px;
    padding: 24px 8px;
}

.about-jane h4, 
.about-john h4 {
   padding-top: 12px;
}

.jane-image img,
.john-image img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.learn-more p {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}

/* ----------------- Footer ------------------ */

.footer-bar {
    background-color: #ffe4c4;
    min-height: 120px;
}

.social-media, 
.copyright {
    text-align: center;
}

.social-media h5 {
    margin-top: 16px;
}

.social-link {
    height: 40px;
    width: 40px;
    margin: 0px 15px 5px;
    
}

.social-link:hover {
    background-color: #e7d2b7;
    border-radius: 8px;
}

.social-link a i {
    color: #4a4a4f;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
}

.copyright {
    margin-bottom: 16px;
    letter-spacing: 1px;
}




