@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans:300,400,400i,600,700|Lato:400,700&display=swap');

body {
    margin: 0;
    padding-top: 70px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Lato", sans-serif;
    padding-bottom: 12px;
    text-align: center;
    font-weight: bold;
}



/* ----------------- Navbar ------------------ */

.navbar {
	background-color: #ffe4c4;
}

.navbar-brand {
    font-family: "Acme", sans-serif;
    font-size: 28px;
    margin-left: 6px;
    padding: 6px;
    border-radius: 60%;
}

.navbar-brand:hover {
    background-color: #b8a690;
}

.nav-link {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
}

.dropdown-menu {
    left: -12px;
}


/* ----------------- Hero & Callout ------------------ */

.hero-container { 
  background: url("../img/homepage2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 2000px;
}

.jumbotron-container {
    height: 100vh;
}

.jumbotron {
    background-color: rgba(255,228,196,0.6);
    text-align: center;
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
    border-radius: 8px;
}

.jumbotron h1 {
    font-family: "Acme", sans-serif;
    padding: 0;
}

.jumbotron p {
    padding-bottom: 6px;
    font-size: 24px;
    font-weight: 400;
}

#prt-container {
    height: 100vh;
    padding-top: 100px;
}

#prt-intro {
    background-color: rgba(255,228,196,0.6);
    margin: 0 auto;
    padding: 32px 40px;
    border-radius: 8px;
}


/* ----------------- Training ------------------ */

.training-container { 
    background: url("../img/homepage.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 18px;
    padding-bottom: 18px;
}

.offer-container {
    background-color: rgba(255,228,196,0.6);
    border-radius: 8px;
    padding: 16px 24px;
    margin: 0 auto;
}

.trg i {
    display: block;
    font-size:32px;
    padding-top: 16px;
    padding-bottom: 9px;
}

.trg-more-info p {
    background-color: 	rgba(154, 136, 114,0.6);
    margin-top: 18px;
    padding: 9px;
    border-radius: 8px;
    text-align: center;    
}

#where {
    border-radius: 8px;
}

.map-container {
    background-color: rgba(255,228,196,0.6);
    padding: 12px;
    border-radius: 8px;
    margin: 16px auto 0;
}

.location-info {
   margin: auto auto;
}

.timetable-container {
    background-color: rgba(255,228,196,0.6);
    border-radius: 8px;
    margin: 16px auto;
    padding: 18px;
}

.timetable-day {
    background-color: rgba(154, 136, 114,0.6);
    text-align: center;
    border-radius: 8px;
    margin: 6px;
}

/* ----------------- Footer ------------------ */


.footer-bar {
    background-color: #ffe4c4;
    min-height: 120px;
}

.social-media, 
.copyright {
    text-align: center;
}

.social-media h5 {
    margin-top: 16px;
}

.social-link {
    height: 40px;
    width: 40px;
    /*border-radius: 50%;
    border: 1px solid #4a4a4f;*/
    margin: 0px 15px 5px;
    
}

.social-link a i {
    color: #4a4a4f;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
}

.copyright {
    margin-bottom: 5px;
    letter-spacing: 1px;
}




